.bg-dark {
    background-color: #040440;
    height: 120vh;
    padding: 25px;
}

.header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(237, 237, 237, 0.3);
}

.title {
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    cursor: pointer;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    justify-content: space-between;
    cursor: pointer;

}

.menu-item i {
    color: #fff;
}

.menu-item p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
}

.menu-toggle {
    display: none; 
    cursor: pointer;
}



@media (max-width: 600px) {
    .bg-dark {
        height: 220vh;
        width: 80px;
    }
   
    .title{
        font-size: 10px;
    }
    .menu-item p {
        display: none;
    }
}

/* For screens between 601px and 1024px */
@media (min-width: 650px) and (max-width: 1200px) {
    .bg-dark {
        height: 180vh;
        width: 80px;
    }
   
    .title{
        font-size: 10px;
    }
    .menu-item p {
        display: none;
    }
}